<module>
	<rawname>restart</rawname>
	<name>Bulk Phone Restart</name>
	<version>2.6.0.0</version>
	<publisher>Schmoozecom.com</publisher>
	<license>GPLv2</license>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<changelog>
		*2.6.0.0* Initial release
	</changelog>
	<depends>
		<version>2.5.0</version>
	</depends>
	<description>This module allows users to restart one or multiple phones that support being restarted via a SIP NOTIFY command through Asterisk's sip_notify.conf 
	</description>
	<menuitems>
		<restart>Phone Restart</restart>
	</menuitems>
	<location>release/2.6/restart-2.6.0.0.tgz</location>
	<md5sum>e9b852f98f008ca10d0dc6556a20d075</md5sum>
</module>
